<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- To execute in custom executor like powershell -->
    <add key="UseCustomCommandExecutor" value="True"/>
    
    <!-- powershell -->
    <add key="CommandAmmandExecutor" value="C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe"/>
    <add key="CommandArgument" value="-Command"/>

    <!-- powershell 6 -->
    <!--<add key="CustomCommandExecutor" value="C:\Program Files\PowerShell\6\pwsh.exe"/>-->
    <!--<add key="CommandArgument" value="-Command"/>-->

    <!-- powershell -->
    <!--<add key="CommandAmmandExecutor" value="C:\Windows\System32\cmd.exe"/>-->
    <!--<add key="CommandArgument" value="/c"/>-->
    
    <add key="UserName" value="username"/>
    <add key="Domain" value="domain"/>
    <add key="Password" value="password"/>

    <!--Example:
          C:\Windows\System32\dsa.msc /domain=something.local -->
    <add key="Command" value="C:\Windows\System32\dsa.msc /domain=something.local"/>
  </appSettings>
</configuration>