<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="UserName" value="username"/>
    <add key="Domain" value="domain"/>
    <add key="Password" value="password"/>

    <!--Example:
          C:\Windows\System32\dsa.msc /domain=something.local -->
    <add key="Command" value="C:\Windows\System32\dsa.msc /domain=something.local"/>
  </appSettings>
</configuration>